:root {
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  
  width: 100%;
  justify-content: center;
  align-items: center;
  
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 12px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  min-width: 100px;
  background-color: darkblue;
  color: orange;
  cursor: pointer;
  
}

button:hover {
  
  border-color: orange;
  font-weight: bold;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* header  */
header {
  background-color: darkblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  padding: 10px;
  
  position: relative;
  overflow: hidden;
  z-index: 2;
}

header h1{
  color: orange;
  padding: 0px 20px 0px 20px;
}

.flex-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

.flex-list li {
  color: white; 
  padding: 10px 20px;
  cursor: pointer; /* Pointer cursor on hover */
  list-style: none;
}

nav {
  width: 100%;
  font-size: 1.5rem;
  margin: 30px 20px;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}


a:hover {
  color: orange;
  font-weight: bold;
}

.error-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  width: 100%;

  background-color: black;
}


.error-page img{
  width: 400px;
}

.error-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 400px;
  color: orange;
  padding: 10px;
}

.error-block a{
  
  background-color: #646cff;
  border-radius: 10px;
  padding: 10px;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  padding: 30px;
  width: 100%;
}

footer {
background-color: darkblue;
padding: 10px;
}

footer h3{
  color: orange;
  padding: 0px 20px 0px 20px;
}

.error-text {
  color: red;
}

.talents a {
  font-weight: 500;
  color: blue;
  text-decoration: inherit;
}


.skills-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}